<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    
    <!-- css original do FullCalendar - não mexer -->
    <link href='/stylesheets/main.css' rel="stylesheet"> 

    <link rel='stylesheet' href='/stylesheets/account/default-style.css'/>
    <link rel='stylesheet' href='/stylesheets/account/header.css'/>
    <link rel='stylesheet' href='/stylesheets/account/calendario.css'/>
    <link rel='stylesheet' href='/stylesheets/account/criar-agenda.css'/>
    <link rel='stylesheet' href='/stylesheets/account/minha-conta.css'/>    
    
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    
    <title><%= title %></title>
    
  </head>
<body>
    <header class="header">
      <div class="container-btn-mobile">
        <button id="btn-menu-mobile" onclick="toggleMenu('container-side')">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </button>
    </div>
      <div class="div-logo-month">
        
        <div class="div-logo">
            <p>
              <a class="logo" href="/">CoLearning</a>  
            </p>
        </div>
      </div>
      <div class="div-user">
          <button id="btn-user" onclick="showDropdown('dropdown-menu')">
          
            <div class="avatar">
              <img src="/images/avatar-exemple.png" alt="" class="user-photo">
              
            </div>
            <div class="name">
              <p class="user-name">Exemplo</p>
              <img src="/images/icon-down.png" alt="" id="img-down"> 
            </div>
            
            <ul class="dropdown-menu" id="dropdown-menu">
              <li>
                <a href="/conta/<%=user.id%>/minha-conta">Minha conta</a>
              </li>
              <% if(user.admin == true) { %>
                <li>
                    <a href="/admin">Admin</a>
                </li>
              <% } %>
             
              <li>
                <a href="/login">Sair</a>
              </li>
            </ul>
            
          </button>
          
      </div>
  </header>
