<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='/stylesheets/acc-default-style.css'/>
    <link rel='stylesheet' href='/stylesheets/acc-header.css'/>
    <link rel='stylesheet' href='/stylesheets/acc-calendario.css'/>
    <link rel='stylesheet' href='/stylesheets/acc-criar-agenda.css'/>
    <link rel='stylesheet' href='/stylesheets/acc-minha-conta-assinatura.css'/>
    
    <script type="text/javascript" src="/javascripts/script.js"></script>

    <title><%= title %></title>
    
  </head>
<body>
    <header class="header">
      <div class="container-btn-mobile">
        <button id="btn-menu-mobile" onclick="toggleMenu('container-side')">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </button>
    </div>
      <div class="div-logo-month">
        
        <div class="div-logo">
            <p>
              <a class="logo" href="/">CoLearning</a>  
            </p>
        </div>
        <div class="month-year">
          <p>Mês e ano</p>
        </div>
      </div>
      <div class="div-user">
          <button>
            <div class="avatar">
              <img src="/images/avatar-exemple.png" alt="" class="user-photo">
            </div>
            <div class="name">
              <p class="user-name">Exemplo</p>
            </div>
          </button>
      </div>
  </header>
