    <footer class="footer">
        <div class="div-footer">
            <div class="footer-contact">
                <h3>Contato</h3>
                <p><%=user.nome%></p>
                <p><%=user.email%></p>
                <p>
                    <a href="/agendamento/<%=user.slug%>">
                        Agendas
                    </a>
                </p>
            </div>
            <div class="footer-links">
                <h3>Conheça sobre o CoLearning</h3>
                <p>
                    <a href="/">Home</a>
                </p>
                <p>
                    <a href="/sobre">Sobre</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>