<section id="container-mobile">
    <button id="btn-menu-mobile"></button>
</section>
<section class="container-side" id="container-side">
    <div id="contents-side">
        <div class="container-button">
            <a class="btn-default btn-side" href="/conta" type="button" title="Acessar calendário">Calendário</a>
        </div>
        <div class="container-agendas">
            <p>Minhas Agendas</p>
            <div class="agendas-list">
                <ul> 
                    <ul>
                        <% for(let agenda of agendas) { %>
                            <li>
                                <%= agenda.title %>

                                <a href="/conta/<%= agenda.id %>/editar">
                                    <img src="/images/icon-edit2.png" height="15px" width="15px">
                                </a>
                                <a href="/conta/<%= agenda.id %>/apagar">
                                    <img src="/images/icon-delete2.png" height="15px" width="15px">
                                </a>

                            </li>
                        
                        <% } %> 
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>