<footer class="footer">
    <div class="div-copy-nav">
        <div class="copyright">
            <p>
                &copy Todos os direitos reservados - 2022
            </p>
        </div>
        <div class="div-menu-footer">
            <ul>
                <li><a href="">Início</a></li>
                <li><a href="/planos">Planos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </div>
    <div class="social-medias">
        <ul>
            <li>
                <a href=""><img class="logo-social-media" src="/images/logo-facebook.png" alt="logo-facebook"></a>
            </li>
            <li>
                <a href=""><img class="logo-social-media"src="/images/logo-instagram.png" alt="logo-instagram"></a>
            </li>
            <li>
                <a href=""><img class="logo-social-media" src="/images/logo-whatsapp.png" alt="logo-whatsapp"></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>