          <nav class="nav-users">
            <a href="/admin" class="a-user btn-default">Início</a>    
            <a href="/admin/usuarios" class="a-user btn-default"> Lista de Usuários</a>
            <a href="/admin/usuarios/add" class="a-user btn-default"> Adicionar Usuário</a>
          </nav>

