
<nav>
    <a href="/users/">index - </a>    
    <a href="/users/lista"> Lista de Alunos - </a>
    <a href="/users/:id"> Um Aluno - </a>
    <a href="/users/add"> Adicionar Aluno - </a>
    <a href="/users/:id/editar"> Editar - </a>
    <a href="/users/:id/excluir"> Apagar </a>
</nav>
