          <nav class="nav-users">
            <a href="/admin" class="a-user">index</a>    
            <a href="/admin/usuarios" class="a-user"> Lista de Usuários</a>
            <a href="/admin/usuarios/add" class="a-user"> Adicionar Usuário</a>
          </nav>

