          <nav class="nav-users">
            <a href="/users/" class="a-user">index</a>    
            <a href="/users/lista" class="a-user"> Lista de Alunos</a>
            <a href="/users/add" class="a-user"> Adicionar Aluno</a>
          </nav>

