
<%- include('../partials/header-admin.ejs') %>
      <section class="section-main">
         <div class="div-title">

            <h1><%= title %></h1>
         </div>
      </section>
   </main>
</body>
</html>

