body,
html,
main {
    height: 100vh;
   
}
body {
    display: flex;
}
main {
    width: calc(100% - 250px);
    overflow: auto;
}
table {
    margin: 50px 5px;
}

.app-container {
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    overflow: auto;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 250px;
    max-width: 250px;
    flex-shrink: 0;
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 20px 0;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
}

.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-list-item svg,
.sidebar-list-item img {
    margin-right: 8px;
}

.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
}

.sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
}

.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
}

.account-info-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.account-info-name {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account-info-more {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.app-icon {
    color: var(--sidebar-main-color);
}

.app-icon svg {
    width: 24px;
    height: 24px;
}

.app-content {
    padding: 16px;
    margin-top: 20px;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    
    display: flex;
    flex-direction: column;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}


.app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}



.table-list {
    border-collapse: collapse;
}
.table-list tr {
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 40px;
}
.table-list th,
.table-list td {
    padding-left: 3px;
}
.list-header th {
    text-align: left;
    background-color: var(--background-button);
    opacity: 80%;
    color: #FFF;
    height: 30px;
    font-weight: 400;
    
}
.list-row tr:hover {
    background-color: rgb(245, 245, 245);
}
.td-dates {
    width: 110px;
}
.td-options {
    width: 100px;
}
.td-id, .id {
    width: 70px;
}
.td-avatar img {
    width:40px;
    height:40px;
    border-radius: 50%; 
    display: block;
  
}

.section-admin {
    margin-top: 60px;
    width: calc(100% - 250px);
    overflow: auto;
    height:100vh;
}
.btn-options {
    margin-top: 30px;
}
#admin {
    width: 15px;
    height: 100%;
    
}



.form-edit {
    margin-top: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1024px) {
    .list-row {
        width: calc(33.3% - 16px);
    }  
   /* .app-container .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        height: 100px;
        width: 100vw;
    }
   
   .sidebar-list {
        list-style-type: none;
        padding: 0;
        display: flex;
    }*/

    .account-info{
        list-style-type: none;
        padding: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 820px) {
    .list-row {
        width: calc(50% - 16px);
        
    }
  
}

@media screen and (max-width: 520px) {
    .list-row {
        width: 100%;
        margin: 8px 0;
    }
}


@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}