* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
body,
html,
main {
    height: 100vh;
   
}
body {
    display: flex;
}

.app-container {
    border-radius: 4px;
    height: 100%;
    display: flex;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    margin-left: 100px;
    flex-direction: column;

}


/********** SIDEBAR ***********/
.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    z-index: 1;
}

.app-icon{
    text-align: center;
    display: flex;
    transition:  all 0.5s ease;
    margin: 10px 0 0 10px;
}
.app-icon img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 16px 10px;
}

.a {
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    text-align: center;
    padding-left: 25px;
}
.nav-item{
    position: relative;
    margin-left: 10px;
    padding-left: 20px;
}
.logo{
    margin-top: 30px;
}
.a:hover, .a:active{
    background-color: #eee;
}
.sidebar:hover{
    width: 280px;
    transition:  all 0.5s ease;
}
.account-info{
    position: absolute;
    bottom: 0;
}
.account-info-picture{
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.account-info-picture img {
    width: 45px;
    height: 40px;
    border-radius: 50%;
}

.account-info-name {
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
}

.account-info-more {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}
.account-info-more img{
    margin-bottom: 20px;
}

.sidebar-list-item svg,
.sidebar-list-item img {
    margin-right: 8px;
}
/* ---------FINAL SIDEBAR----------*/

.app-content {
    padding: 16px;
    margin-top: 20px;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    
    display: flex;
    flex-direction: column;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 4px;
}

.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}
div.container-table{
    overflow-x: auto;
}
.table-list {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    font-family: arial;
    border-bottom: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.table-list tr {
    border-bottom: 1px solid rgb(217, 217, 217);
    height: 40px;
}
.table-list th,
.table-list td {
    border-right: #999999 solid 1px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}
.table-list td:last-child{
    border-right: 0;
}

.list-header th {
    text-align: left;
    background-color: var(--background-button);
    opacity: 80%;
    color: #FFF;
    height: 30px;
    font-weight: normal;
    font-size:15px;
}
.table-list tbody > tr:nth-child(odd) > td,
.table-list tbody > tr:nth-child(odd) > th {
  background-color: #f8f8f8;
}
.list-row tr:hover {
    background-color: rgb(245, 245, 245);
}
.td-dates {
    width: 110px;
}
.td-options {
    width: 100px;
}
.td-id, .id {
    width: 70px;
}
.td-avatar img {
    width:40px;
    height:40px;
    border-radius: 50%; 
    display: block;
  
}

.section-admin {
    margin-top: 60px;
    width: 100%;
    overflow: auto;
    height:100vh;
    margin-left: 100px;
}
.btn-options {
    margin-top: 30px;
}
#admin {
    width: 15px;
    height: 100%;
    
}
.admin-title {
    margin: 50px auto 20px auto;
    font-weight: 400;
    font-size: 30px;

}


.form-edit, .form-admin {
    background-color: var(--background-primary);
    border-radius: 10px;
    padding-top:30px;
    padding-bottom: 30px;
    width: 50%;
    margin: 5px auto 20px auto;
}
.input-id {
    width: 70px;
}
#description{
    width:99%;
}

@media screen and (max-width: 1024px) {
    .list-row {
        width: calc(33.3% - 16px);
    }  
   

}

@media screen and (max-width: 768px) {

    .form-edit, .form-admin {
        width: 60%;
    }

  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }
  .table-list {
    overflow: visible;
  }

 
  .table-responsive tbody {
    width: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    white-space: wrap;
  }


  
  .table-list td:last-child {
     border-right: #999999 solid 1px;
  }

    .list-row {
        width: 100%;
        margin: 8px 0;
    }

    .app-content-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px 4px;
    }
}
@media screen and (max-width: 425px) {

    .form-edit, .form-admin {
        width: 90%;
        margin: 5px auto 20px auto;
    }
}