.title-dashboard {
    text-align: left;
    margin-left: 20px;
}

.cards-admin{
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-admin {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-admin h2 {
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
}

.card-admin p {
    font-size: 22px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card {
    margin: 10px;
}
@media screen and (max-width: 1024px) {
    .title-dashboard {
        margin-top: 101px;
    }
    div.cards-admin{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.btn-default{
        width: 250px;

    }
}
@media screen and (max-width: 768px) {
    .btn-default {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .title-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.cards-admin{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.btn-default{
        width: 250px;

    }
    div.btn-options{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    a.um-user{
        margin: 10px;
    }
    #text{
        display: none;
    }
}