


.header {
    display: flex;
    padding: 2rem 8rem;
    background-color: var(--background-primary);
    width: 100%;
    align-items: center;
    border: solid 1px var(--border-color-light);
}
.div-logo-month {
    display: flex;
}
.div-logo {
    padding-right: 5rem;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: var(--font-color-logo);
    line-height: 22px;
    
}
.month-year p  {
    font-size: 18px;
}
.div-user button{
    display: flex;
    border:0;
    background-color: var(--background-primary);
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    cursor: pointer;
}
.avatar {
    padding-right: 5px;
}
.user-photo {
    width: 37px;
    height: 27px;
    border-radius: 50%;
}
.user-name {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .header{
        padding: 20px 40px;
        justify-content: space-between;
    }
    .div-logo {
        padding-right: 80px;
    }
   
    .month-year {
        text-align: center;
    }
    .div-user {
        justify-self: flex-end;
    }
}
@media screen and (max-width:768px) {
    .header{
        padding: 20px 10px;
        justify-content: space-between;
        align-items: center;
    }
    .div-logo-month {
       width: 100%;
       padding-left: 10px;
    }
    .div-logo {
        
        padding-right: 20px;
    }
    .logo {
        font-size: 25px;
    }
    
}
@media screen and (max-width:480px) {
    .header{
        padding: 20px 10px;
        justify-content: space-between;
    }
    .div-logo-month {
        justify-content: space-between;
        width: 290px;
    }
    .div-logo {
        padding-right: 20px;
    }
    .logo {
        font-size: 20px;
    }
    .month-year {
        text-align: center;
    }
}