:root {
    --background-primary: #F5F6FA;
    --background-button: #FF7A00;
    --border-color-light: #c2c9d6;
    --font-color: #000;
    --font-color-button: #FFF;
    --font-size-btn: 16px;
    --font-size-label: 16px;

} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Monteserrat', sans-serif;
}

a {
    text-decoration: none;
}


li {
    list-style-type: none;
}

.container-nav {
    padding: 15px;
}

.container-nav li {
    padding-bottom: 10px;
}
.container-nav a {
    display: flex;
    align-items: center;
    color: var(--font-color);
}
.nav-text-link {
    padding-left: 10px;
}