
.main-calendar{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container-calendar{
    border-right: solid 1px var(--border-color-light);
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 100vh;
    text-align: left;
    justify-items: flex-start;
}
.container-table-month {
    display: flex;
    justify-content: center;
}

.table-month{
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: var(--background-primary);
   
}
.table-month td:hover{
    background-color: var(--background-button);
    cursor: pointer;
    color: var(--font-color-button);
    
}
.agenda{
    display:flex;
    align-items: center;
    width: 48%;
}

#agenda-submit{
    line-height: 22px;
    font-weight: 700;
    padding: 12px 35px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
}
#agenda-submit:hover {
    transition: border 280ms cubic-bezier(.4,0,.2,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    box-shadow: 0px 4px 4px 0px rgba(60,64,67,.30),0px 8px 12px 6px rgba(60,64,67,.15);
}


.agendamento{
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    width: 98,5vw;
    background-color: #c9842a;
    margin-top:5px;
    bottom: 0;
    left: 0;
}
@media screen and (max-width: 768px) {
    .container-agendas {
        align-items: center;
    }
}
@media screen and (max-width: 468px){
    
    .agenda{
        width: 100%;
    }
}