
.main-calendar{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container-calendar{
    border-right: solid 1px var(--border-color-light);
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 100%;
    text-align: left;
    justify-items: flex-start;
}
.container-table-month {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
/* classes do FullCalendarJs */
.fc-toolbar-title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
}
.fc-dayGridMonth-button {
    display: none;
}
.fc-button {
    line-height: 15px;
    padding: 6px 10px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
    margin-bottom: 10px;
}
.fc-button:hover {
    background-color: var(--background-button-hover);
}
.fc-today-button {
    width: 100%;
    margin: 10px auto;
}
.fc-today-button:disabled {
    background-color: #d6d6d6;
    color: #3b424d;
}
.fc-button-group {
    display: flex;
    justify-content: space-between;
}
.fc-scrollgrid  {
    font-size: 16px;
}

.fc-day-today a  {
    background-color: var(--background-button);
    color: var(--font-color-button);
    border-radius: 10px;
}
.agenda{
    display:flex;
    align-items: center;
    width: 48%;
}

#agenda-submit{
    line-height: 22px;
    font-weight: 700;
    padding: 12px 35px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.30),0px 1px 3px 1px rgba(60,64,67,.15);
}
#agenda-submit:hover {
    transition: border 280ms cubic-bezier(.4,0,.2,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    box-shadow: 0px 4px 4px 0px rgba(60,64,67,.30),0px 8px 12px 6px rgba(60,64,67,.15);
}


.agendamento{
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    width: 98,5vw;
    background-color: #c9842a;
    margin-top:5px;
    bottom: 0;
    left: 0;
}
@media screen and (min-width: 1025px) {
    .container-calendar {
        width: 305px;
    }

}
@media screen and (max-width: 768px) {
    .container-agendas {
        align-items: center;
    }
}
@media screen and (max-width: 468px){
    
    .agenda{
        width: 100%;
    }
}