:root {
    --background-primary: #F5F6FA;
    --background-button: #FF7A00;
    --font-color: #000;
    --font-color-button: #FFF;
    --font-size-btn: 16px;
    --font-color-logo: #FF7A00;
} 

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
    background-color: var(--background-primary);
}
.div-logo-nav {
    display: flex;
    width: 50%;
}
.div-logo {
    padding-right: 5rem;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: var(--font-color-logo);
    line-height: 22px;
}
.nav-header ul {
    display: flex;
}
.nav-header a, 
.footer a {
    color: var(--font-color);
    font-weight: 600;
    
}
.nav-header a:hover, 
.div-menu-footer a:hover {
    color: var(--background-button);
}
.nav-header li {
    padding-right: 2rem;
}
.div-login a {
    line-height: 22px;
    font-weight: 700;
    padding: 12px 49px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
}
.div-login a:hover,
.div-link-cadastrar a:hover {
    background-color: transparent;
    color: var(--background-button);
    border: 1px solid var(--background-button);
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 1.7rem 6rem;
    background-color: var(--background-primary);
    align-items: center;
    height: 100%; 
    
}
.footer ul {
    display: flex;
}
.footer li {
    padding-right: 2rem;
}
.footer-logo-nav {
    display: flex;
    width: 58%;
    justify-content: space-between;
}

.logo-social-media {
    width: 29px;
    height: 29px;
}
@media screen and (min-width: 1024px) {
    .header, .footer {
        padding: 30px;
    }
    .div-logo {
        padding-right: 30px;
    }

    .footer-menu {
        text-align: center;
        width: auto;
    }
    .footer-menu li {
        padding-right: 10px;
        padding-left: 10px;
    }


}

@media screen and (max-width: 768px) {
    /* HEADER */
    .header {
        padding: 30px 18px;
    }
    .div-logo-nav {
        justify-content:space-around;
        width: auto;
    }
    
    /* FOOTER */
    .footer {
        display: flex;
        width: 100%;
        padding-right: 18px;
        padding-left: 18px;
        justify-content: space-around;
    }

    .footer-menu li {
        padding-right: 5px;
        padding-left: 5px;
    }

    .social-medias li {
        padding-right: 10px;
        padding-left: 10px;
    }
    
   
}
@media screen and (max-width: 480px) {

    /* FOOTER */
    .footer {
        display: block;
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
    }
    .footer-logo-nav {
        display: block;
        text-align: center;
        width: 100%;
    }
    .footer-logo {
        padding-bottom: 30px;
    }
    .footer-logo p {
        text-align: center;
    }
    .footer-menu ul {
        display: block;
        text-align: center;
    }
    .footer-menu li {
       padding-bottom: 10px;
    }
    .social-medias  {
        margin-top: 10px;
    }
    .social-medias ul {
        width: 100%;
        justify-content: center;
    }
}


