:root {
  --background-primary: #f5f6fa;
  --background-button: #ff7a00;
  --font-color: #000;
  --font-color-button: #fff;
  --border-color-light: #c2c9d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monteserrat", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  width: 100%;
  height: 100%;
}

.h1-planos {
  text-align: center;
  margin: 30px auto;
}
.subtitle {
  text-align: center;
  font-size: 22px;
  margin: 30px auto;
}

.planos {
  margin: 50px auto;
  height: 100%;
}

.ul-planos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  flex-wrap: wrap;

}
.li-planos {
    font-size: 22px;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--border-color-light);
    margin: 10px 50px;
    width: 320px;
    height: 38rem;
    background-color: var(--background-primary);
    border-radius: 6px;
    padding: 30px 10px;
    display: flex;
}
.li-informacoes {
    display: block;
}
.box {
    background-color: var(--background-button);
    color: var(--font-color-button);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    margin: 3rem auto;
    
}
.box:hover {
    background-color: #db3a3a;
    color: #fff;
}


.div-planos {
    width: 100%;
    padding: 15px 5px;
    margin: 5rem auto;
    text-align: center;
}
.div-planos strong {
    font-size: 30px;
    padding-top: 0px 
}
.div-planos div {
    margin: 30px auto;
}

.div-btn {
    text-align: center;
}
.btn-assinar {
    line-height: 22px;
    font-weight: 700;
    padding: 12px 49px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
}
.btn-assinar:hover {
    background-color: transparent;
    color: var(--background-button);
    border: 1px solid var(--background-button);
}
