@import url(header-footer.css);

:root {
--background-primary: #f5f6fa;
  --background-button: #ff7a00;
  --font-color: #000;
  --font-color-button: #fff;
  --border-color-light: #c2c9d6;
  --background-alert-sucess: #d4edda
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Monteserrat', sans-serif; 
}
body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
input:focus, input:focus-visible,
textarea:focus, textarea:focus-visible {
    border-color: #bb815d;
    box-shadow: 0 0 0 .2rem rgba(255, 119, 0, 0.462);
}



/* MAIN */
.section-carousel {
    width: 100%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} 
.carousel {
    overflow: hidden;
    height: 500px;
    width: 100%;
    position: absolute;
}
.carousel input {
    display: none;
}
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}
.slide {
    width: 20%;
    transition: 0.8s;
}
.slide img {
    width: 100%;
    height: 100%;
}

#slide-img1:checked ~ .s-img1 {
    margin-left: 0;
}
#slide-img2:checked ~ .s-img1{
    margin-left: -20%;
}
#slide-img3:checked ~ .s-img1{
    margin-left: -40%;
}
.carousel-nav {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #FFF;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {
    background-color: #FFF;
}



.section-cards{
    margin: 5rem auto;
}
.div-h1 {
    text-align: center;
    margin: 5rem auto;
    font-size: 30px;
}
.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.div-cards {
    box-shadow: 0 8px 16px rgba(46, 52, 88, 0.16);
    width: 284px;
    border-radius: 5%;  
}
.cards p {
    margin: 3rem 2rem;
}
.card-title {
    font-size: 18px;
    font-weight: 600;
    
}

.img-cards {
    width: 250px;
    height: 220px;
    
}
.card-description {
    font-size: 14px;
}
.div-link-cadastrar{
    text-align: center;
    margin: 5rem auto;
}

.div-link-cadastrar a {
    line-height: 22px;
    font-weight: 700;
    padding: 12px 49px;
    background-color: var(--background-button);
    border-radius: 5px; 
    color: var(--font-color-button);
}



/* Telas */


@media screen and (max-width: 768px) {
    .cards {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto; 
    }
    .card-title {
        padding-top: 3rem;
        margin: 0;
    }
    .card-description {
        padding-bottom: 2rem;
        padding-top: 0;
        margin: 0;
    }
  
}

@media screen and (max-width: 480px) {

    /* MAIN */
    .cards {
        display: block;
        width: 284px;
        margin-left: auto;
        margin-right: auto; 
    }
    .card-title {
        padding-top: 3rem;
        margin: 0;
    }
    .card-description {
        padding-bottom: 2rem;
        padding-top: 0;
        margin: 0;
    }


}


