<%- include('partials/account-header.ejs') %>

<main class="main-flex">

    <section class="container-side" id="container-side">
        <div id="contents-side">
            <div class="container-button">
                <a class="btn-side" href="/conta" type="button" title="Acessar calendário">Calendário</a>
            </div>
            <div class="container-nav">
                <nav>
                    <ul>
                        <li>
                            <input type="radio" name="tabs" id="radio-personal-info" class="inputs-menu">
                            <label for="radio-personal-info" class="label-menu">
                                <a href="/conta/minha-conta">
                                <img class="li-img" src="/images/icon-personal.png">
                                <p class="nav-text-link ">Informações Pessoais</p>
                                
                                </a>
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="tabs" id="radio-signature" class="inputs-menu" checked>
                            <label for="radio-signature" class="label-menu">
                                <a id="link-signature" href="/conta/minha-conta/assinatura">
                                <img class="li-img" src="/images/icon-signature.png">
                                    <p class="nav-text-link ">Assinatura</p>
                                </a>
                            </label>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</main>
</body>
</html>