<%- include('partials/account-header.ejs') %>

<main>
    <section class="container-side">
        <div class="container-button">
            <a href="/conta" type="button" title="Acessar calendário">Calendário</a>
        </div>
        <div class="container-nav">
            <nav>
                <ul>
                    <li>
                        <input type="radio" name="tabs" id="radio-personal-info" class="inputs-menu">
                        <label for="radio-personal-info" class="label-menu">
                            <a id="link-personal-info" href="/conta/minha-conta">
                                
                            <img class="li-img" src="/images/icon-personal.png">
                            <p class="nav-text-link ">Informações Pessoais</p>
                            
                            </a>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="tabs" id="radio-signature" class="inputs-menu" checked>
                        <label for="radio-signature" class="label-menu">
                            <a id="link-signature" href="/conta/minha-conta/assinatura">
                            <img class="li-img" src="/images/icon-signature.png">
                            <p class="nav-text-link ">Assinatura</p>
                            </a>
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section-main sec-signature">
        <div>
            <h1>Assinatura</h1>
            <div>
                <table>
                    <thead>
                        <th>Plano</th>
                        <th>Valor</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <td>[plano]</td>
                        <td>[plano.valor]</td>
                        <td>[plano.status]</td>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="">
                    Alterar plano
                </a>
            </div>
        </div>
    </section>
</main>
</body>
</html>