<%- include('partials/account-header.ejs') %>

<main class="main-calendar">
    <section class="container-side" id="container-side">
        <div id="contents-side" class="container-calendar">
        <div>
            <div class="container-button">
            <a href="/conta/criar-agenda" id="agenda-submit">Criar agenda</a>
            </div>
            <div class="container-table-month">
            <div id='calendar'></div>
            </div>
        </div>
        <div class="container-agendas">
            <p>Minhas Agendas</p>
            <div class="agendas-list">
            <ul>
                <li>
                <a href="">Agenda 1</a>
                </li>
                <li>
                <a href="">Agenda 2</a>
                </li>
                <li>
                <a href="">Agenda 3</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </section>

    <section class="section-agenda">
        <div class="container-events">
            <div class="agenda-title">
                <h2>[Nome da agenda]</h2>
            </div>
            <div id='calendar-main'></div>
        </div>
        
    </section>
</main>

<!-- Calendário do container lateral -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'pt-br',
      initialView: 'dayGridMonth',
      showNonCurrentDates: false, //tira os dias do mês anterior do calendário
      themeSystem: String,
      default: 'standard',
      now: function (date) {
        var now = Date.now()
        var date = new Date(now)
        return date
      },
      selectable: true,
      headerToolbar: {
        center: 'dayGridMonth',
        end: 'today prev,next'
      }, //{ center: 'dayGridMonth,timeGridWeek' }
      buttonText: {
        today: 'Hoje',
        month: 'Mês',
        prev: '<',
        next: '>'
      },

      views: {
        dayGridMonth: { // name of view
          titleFormat: {
            year: 'numeric',
            month: 'long'
          },

          // other view-specific options here
        }
      },
    });
    calendar.render();

  });
</script>

<!-- Calendário da parte principal -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar-main');
      var calendarMain = new FullCalendar.Calendar(calendarEl, {
        locale: 'pt-br',
        initialView: 'listWeek',
        height: 'auto',
        showNonCurrentDates: true, //tira os dias do mês anterior do calendário
        themeSystem: String,
        default: 'standard',
        now: function (date) {
          var now = Date.now()
          var date = new Date(now)
          return date
        },
        selectable: true,
        headerToolbar: {
          center: 'dayGridMonth',
          end: 'today prev,next'
        }, //{ center: 'dayGridMonth,timeGridWeek' }
        buttonText: {
          today: 'Hoje',
          month: 'Mês',
          prev: '<',
          next: '>'
        },
  
        views: {
          dayGridMonth: { // name of view
            titleFormat: {
              year: 'numeric',
              month: 'long'
            },
  
            // other view-specific options here
          }
        },
      });
      calendarMain.render();
  
    });
  </script>
</body>

</html>