<%- include('partials/account-header.ejs') %>

    <main>
        <div class="container">
        <button id="agenda-submit" name="agenda-submit">Criar agenda</button>
        <!-- tabela do calendario-->
        <table class="table">
                    <!-- TITULO-->      
            <caption>Mes Maio</caption>
                
            
            
            <!--cada linha-->
            <tr>
                <!-- cada coluna-->
                <th>Do</th>
                <th>Se</th>
                <th>Te</th>
                <th>Qu</th>
                <th>Qu</th>
                <th>Se</th>
                <th>Sa</th>
            </tr>




            <!-- linhas do dia em numero-->
            <tr>
                <!-- 1 linha de numero-->
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>

            <!-- linhas do dia em numero-->
            <tr>
                <!-- 2 linha de numero-->
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
            </tr> 

            <!-- linhas do dia em numero-->
            <tr>
                <!-- 3 linha de numero-->
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
            </tr>

            <!-- linhas do dia em numero-->
            <tr>
                <!-- 4 linha de numero-->
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
            </tr>

            <!-- linhas do dia em numero-->
            <tr>
                <!-- 5 linha de numero-->
                <td>29</td>
                <td>30</td>
                <td>31</td>
            </tr>




        </table>

            <p>Minha agenda</p>
            <p>....</p>
        
        </div>

        <div class="agenda">
            <p class="agendamento">calendarios com o agendamento</p>
        </div>
        

   </main>

</body>
</html>