<%- include('partials/account-header.ejs') %>

    <main class="main-flex">
        <!-- menu lateral -->
        <section id="container-mobile">
            <button id="btn-menu-mobile"></button>
        </section>
        <section class="container-side">
           
            <div class="container-button">
                <a class="btn-default btn-side" href="/conta" type="button" title="Acessar calendário">Calendário</a>
            </div>
            <div class="container-agendas">
                <p>Minhas Agendas</p>
                <div class="agendas-list">
                    <ul> 
                        <li>
                            <a href="">Agenda 1</a>
                        </li>
                        <li>
                            <a href="">Agenda 2</a>
                        </li>
                        <li>
                            <a href="">Agenda 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- parte central -->
        <section class="container-created">
            <div class="settings-initial">
                <p class="settings-title">Configurações Iniciais</p>
                <hr>
                <div class="container-form">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <div class="conteiners-form">
                            <label for="agenda-name">Nome da agenda</label>
                            <input type="text" name="agenda-name" id="agenda-name" required>
                        </div>
                        
                        <div class="conteiners-form">
                            <label for="agenda-duration">Duração das reuniões</label>
                            <select class="dropdown"id="agenda-duration">
                                <option>00:15</option>
                                <option>00:30</option>
                                <option>01:00</option>
                                <option>01:30</option>
                                <option>02:00</option>
                            </select>
                        </div>
                        <div class="conteiners-form">
                            <label for="agenda-period">Período de agendamento</label>
                            <input type="date" name="initial-date" id="initial-date">
                            <p>até</p>
                            <input type="date" name="final-date" id="final-date">
                        </div>
                        <div class="container-availability">
                            <label for="agenda-availability">Disponibilidade</label>
                            <table class="table-availability">
                                <tr>
                                    <td class="week-days">Domingo</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Segunda</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Terça</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Quarta</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Quinta</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Sexta</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="week-days">Sábado</td>
                                    <td class="input-time">
                                        <input type="time" placeholder="09:00" class="initial-time">
                                        <input type="time" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="settings-form">
                <p class="settings-title">Configurações da Reserva</p>
                <hr>
                <div class="container-form">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <div class="conteiners-form">
                            <label for="res-name">Nome da página de agendamento</label>
                            <input type="text" name="res-name" id="res-name">
                        </div>
                        <div class="conteiners-form">
                            <label for="res-description">Descrição</label>
                            <textarea name="description" id="res-description" cols="40" rows="3"></textarea>
                        </div>
                        <div class="conteiners-form local-options">
                            <div>
                                <label for="res-local">Local da Reserva</label>
                            </div>
                            <div class="local-radios">
                                <input type="radio" name="res-local" value="online" id="res-online" checked onclick="showElement('res-online', 'div-res-adress')">
                                <label for="res-online">Videoconferência</label>

                                <input type="radio" name="res-local" value="person" id="res-person" onclick="showElement('res-person', 'div-res-adress')">
                                <label for="res-person">Presencial</label>

                            </div>
                            <div id="div-res-adress">
                                <label for="res-adress">Informe o local</label>
                                <input type="text" name="res-adress" id="res-adress" placeholder="Adicione o local">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn-default" id="btn-save">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="/javascripts/criar-agenda.js"></script>
</body>
</html>