<%- include('partials/account-header.ejs') %>

    <main class="main-flex">
        <!-- menu lateral -->
        <section id="container-mobile">
            <button id="btn-menu-mobile"></button>
        </section>
        <section class="container-side" id="container-side">
            <div id="contents-side">
                <div class="container-button">
                    <a class="btn-default btn-side" href="/conta" type="button" title="Acessar calendário">Calendário</a>
                </div>
                <div class="container-agendas">
                    <p>Minhas Agendas</p>
                    <div class="agendas-list">
                        <ul> 
                            <li>
                                <a href="">Agenda 1</a>
                            </li>
                            <li>
                                <a href="">Agenda 2</a>
                            </li>
                            <li>
                                <a href="">Agenda 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- parte central -->
        <section class="container-created">
            <div class="settings-initial">
                <p class="settings-title">Configurações Iniciais</p>
                <hr>
                <div class="container-form">
                    <form method="post" action="/conta/criar-agenda">
                        <div class="conteiners-form">
                            <label for="title">Nome da agenda</label>
                            <input type="text" name="title" id="title" required>
                        </div>
                        
                        <div class="conteiners-form">
                            <label for="duration">Duração das reuniões</label>
                            <input type="time" name="duration" id="duration" required>
                            <!-- <select class="dropdown"id="agendaDuration">
                                <option value="00:15">00:15</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                            </select> -->
                        </div>
                        <div class="conteiners-form">
                            <label for="start">Período de agendamento</label>
                            <input type="date" name="start" id="start">
                            <label for="end">até</label>
                            <input type="date" name="end" id="end">
                        </div>
                        <div class="container-availability">
                            <label for="businessHours">Disponibilidade</label>
                            <table class="table-availability">
                                <tr>
                                    <td class="daysOfWeek">
                                        <label>Domingo</label></td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Segunda</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Terça</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Quarta</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Quinta</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Sexta</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="daysOfWeek">Sábado</td>
                                    <td class="input-time">
                                        <input type="time" name="startTime" id="startTime" placeholder="09:00" class="initial-time">
                                        <input type="time" name="endTime" id="endTime" placeholder="18:00" class="final-time">
                                    </td>
                                    <td class="button-time">
                                        <button type="button" title="Indisponível"><img class="icon-times"src="/images/icon-forbidden.png" alt="indisponível"></button>
                                        <button type="button" title="Copiar"><img class="icon-times"src="/images/icon-copy.png" alt="copiar"></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <button type="submit" class="btn-default" id="btn-save">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="settings-form">
                <p class="settings-title">Configurações da Reserva</p>
                <hr>
                <div class="container-form">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <div class="conteiners-form">
                            <label for="reservationName">Nome da página de agendamento</label>
                            <input type="text" name="reservationName" id="reservationName">
                        </div>
                        <div class="conteiners-form">
                            <label for="reservationDescription">Descrição</label>
                            <textarea name="reservationDescription" id="reservationDescription" cols="40" rows="3"></textarea>
                        </div>
                        <div class="conteiners-form local-options">
                            <div>
                                <label for="reservationLocal">Local da Reserva</label>
                            </div>
                            <div class="local-radios">
                                <input type="radio" name="reservationLocal" value="online" id="res-online" checked onclick="showElement('res-online', 'div-res-adress')">
                                <label for="res-online">Videoconferência</label>

                                <input type="radio" name="reservationLocal" value="person" id="res-person" onclick="showElement('res-person', 'div-res-adress')">
                                <label for="res-person">Presencial</label>

                            </div>
                            <div id="div-res-adress">
                                <label for="reservationAdress">Informe o local</label>
                                <input type="text" name="reservationAdress" id="reservationAdress" placeholder="Adicione o local">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn-default" id="btn-save">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section> -->
    </main>
   
</body>
</html>