<%- include('partials/header.ejs') %>

<main>
    <div class="container-access">
        <div class="container-contents">
            <div class="form-title">
                <p>Entre na sua conta</p>
            </div>
            <form class="form" method="post" action="/login">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com" required>


                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="*******" required>
                
                <% if((locals.errors && errors.senha) || (locals.errors && errors.email) ) { %> 
                    <p style="color: red;"><%=errors.email.msg%></p>
                <% } %>

                <div class="form-button">
                    <button type="submit">Entrar</button>
                </div>
            </form>
            <div class="registered">
                <p>Ainda não tem uma conta? <a href="/cadastro">Clique aqui</a></p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>