<%- include('partials/header.ejs') %>

    <main> 
        <div class="container">
            <section class="sec-registration">
                <div class="form-title">
                    <p>Cadastrar uma conta</p>
                </div>
                <form class="form" method="POST" action="" enctype="multipart/form-data">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="Exemplo" required>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="exemplo@exemplo.com" required>

                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="*******" required>

                    <div class="form-button">
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
                <div class="registered">
                    <p>Já tem cadastro? <a href="/login">Clique aqui</a></p>
                </div>
            </section>
            <section class="sec-login">
        </div>
    </main>
<%- include('partials/footer.ejs') %>