<%- include('partials/header.ejs') %>

    <main>
        <h1 class="h1-planos">Escolha o melhor plano para você</h1>
        <div class="subtitle">
            <p>Recomendações especiais para você.</p> 

            <p>Altere ou cancele seu plano quando quiser.</p> 
        </div>
        <section class="planos">
            <ul class="ul-planos">
                <li class="li-planos">
                    <div class="li-informacoes">
                        <div class="box">Basico</div>
                        <div class="div-planos">
                            <strong>R$10,00/mês</strong>
                            <div>
                                <p>10 alunos</p>
                                <p>10 aulas</p>
                            </div>
                        </div>
                        <div class="div-btn">
                            <a href="/cadastro" class="btn-assinar">Assinar</a>
                        </div>
                    </div>
                </li>
                
                <li class="li-planos">
                    <div class="li-informacoes">
                        <div class="box">Padrão</div>
                        <div class="div-planos">
                            <strong>R$30,00/mês</strong>
                            <div>
                                <p>30 alunos</p>
                                <p>30 aulas</p>
                            </div>
                        </div>
                        <div class="div-btn">
                            <a href="/cadastro" class="btn-assinar">Assinar</a>
                        </div>
                    </div>
                </li>

                <li class="li-planos">
                    <div class="li-informacoes">
                        <div class="box">Premium</div>
                        <div class="div-planos">
                            <strong>R$50,00/mês</strong>
                            <div>
                                <p>Alunos ilimitados</p>
                                <p>Aulas ilimitadas</p>
                            </div>
                        </div>
                        <div class="div-btn">
                            <a href="/cadastro" class="btn-assinar">Assinar</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
   
   </main>

<%- include('partials/footer.ejs') %>