<%- include('partials/header.ejs') %>

    <main>
        <h1 class="h1-planos">Escolha o melhor plano para você</h1>

        <p>Recomendações especiais para você.</p> 

        <p>Altere ou cancele seu plano quando quiser.</p> 
        
        <section class="planos">
            <ul class="ul-planos">
                
                
                <li class="li-planos">
                    <div class="box">Basico</div>
                    <div class="div-planos">
                        <strong>R$10,00</strong>
                        <p>10 alunos</p>
                        <p>10 aulas</p>
                    </div>
                </li>
                
                <li class="li-planos">
                    <div class="box"> Padrão</div>
                    <div class="div-planos">
                        <strong>R$30,00</strong>
                        <p>30 alunos</p>
                        <p>30 aulas</p>
                    </div>
                </li>

                <li class="li-planos">
                    <div class="box">Premium</div>
                    <div class="div-planos">
                        <strong>R$50,00</strong>
                        <p>Ilimitado</p>
                        <p>Ilimitado</p>
                    </div>
                </li>

            </ul>
        </section>
   
   </main>

<%- include('partials/footer.ejs') %>