<%- include('partials/header.ejs') %>

    <main>
        <h1 class="h1-sobre">Sobre CoLearning</h1>
        <section class="sobre">
            <div class="container-main">
                <div class="container-img">
                    <img src="images/image-about.jpg">
                </div>
                <div class="container-about">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium, orci
                         at malesuada cursus, orci orci facilisis ex, in hendrerit nibh purus et 
                         mauris. Proin rutrum maximus arcu, eu porta lorem sagittis nec. 
                         Aliquam eget consequat sem. Morbi ac risus quam. Nunc cursus elementum nulla,
                        sit amet auctor augue luctus auctor. Mauris rhoncus leo nibh, id scelerisque 
                        elit congue a. Suspendisse placerat neque augue, eu lobortis purus gravida vel. Proin in semper orci. Sed facilisis rhoncus lobortis. Fusce tellus dui, dignissim quis nisi ac, auctor egestas libero. Integer eget lorem nec tellus commodo porttitor in vel nunc.
                    </p>
                    <p>
                        Cras et finibus justo. Proin imperdiet ante ornare, tincidunt dui eget, cursus 
                        dui. Praesent tincidunt sapien pharetra iaculis eleifend. Sed at lacus 
                        pulvinar, faucibus nulla eget, posuere purus. Duis maximus turpis vitae neque 
                        sagittis, sed lobortis nunc faucibus. Nullam quis mi eu dolor facilisis 
                        tristique. Pellentesque iaculis enim ut ornare eleifend. Vestibulum scelerisque
                        quis mauris in scelerisque. Nam dictum nulla nec finibus fringilla. Aliquam 
                        erat volutpat.
                    </p>
                    <p>
                        Donec elementum neque tellus, nec scelerisque enim pharetra eget. Nunc sapien 
                        urna, tincidunt id porttitor ut, congue sed tellus. Nullam tempor faucibus 
                        risus nec dapibus. Nam pulvinar venenatis orci ut auctor. Nam imperdiet nisl 
                        in posuere malesuada. Donec justo arcu, finibus et ligula et, auctor varius 
                        ante. Nam lobortis, magna a sagittis feugiat, nisl est efficitur felis, et 
                        tempus dolor justo quis eros.
                    </p>    
                </div>
            </div>
        </section>
   
   </main>

<%- include('partials/footer.ejs') %>