<%- include('../partials/account-header.ejs') %>

<main class="main-calendar">
   
    <%- include('../partials/container-side.ejs') %>

    <section class="section-agenda">
        <div class="container-events">
           
            <div id='calendar-main'></div>

            <div>
                <input hidden id="events" value="<%= events %>">
            </div>
            <div id="myModal" class="modal" style="display: none;">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Agendamento</h2>
                    <div>
                        <div>
                            <h3>Informações do agendamento</h3>
                            <p id="date-event"></p>
                            <p id="time-event"></p>
                            <p id="url-event"></p>
                            <p id="description"></p>
                        </div>
                        <div>
                            <h3>Informações do aluno</h3>
                            <p id="name-studant"></p>
                            <p id="email-studant"></p>
                            <p id="tel-studant"></p>
                        </div>                
                    </div>
                </div>
            </div>     
        </div>
        
    </section>

</main>
<script type="text/javascript" src="/javascripts/calendar.js"></script>


</body>

</html>