<%- include('../partials/account-header.ejs') %>

    <main class="main-flex">
        <!-- menu lateral -->
        <%- include('../partials/container-side.ejs') %>
        <!-- parte central -->
        <section class="section-main">
            <div class="settings-initial">
                <p class="account-title">Crie sua agenda</p>
                
                <div class="container-form">
                    <form method="post" action="/conta/criar-agenda">
                        <div class="conteiners-form">
                            <label class="form-label" for="title">Nome da agenda</label>
                            <input type="text" name="title" id="title" required>
                        </div>
                        <div class="conteiners-form">
                            <label class="form-label" for="url">URL para reuniões</label>
                            <input type="url" name="url" id="url" >
                        </div>
                        <div class="conteiners-form">
                            <label class="form-label" for="duration">Duração das reuniões</label>
                            <input type="time" name="duration" id="duration" required>
                        </div>
                        <div class="conteiners-form">
                            <label class="form-label" for="start">Período de agendamento</label>
                            <div class="conteiner-dates">
                                <label for="start">De</label>
                                <input type="date" name="start" id="start" class="input-dates">
                                <label for="end">até</label>
                                <input type="date" name="end" id="end" class="input-dates">
                            </div>
                        </div>
                        <div class="container-availability">
                            <div>
                                <label class="form-label">Disponibilidade</label>
                            </div>
                            <table class="table-availability">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="sunday" value="0" onclick="showInput('sunday', 'td-sunday')">
                                       
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Domingo</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-sunday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="monday" value="1" onclick="showInput('monday', 'td-monday')">
                                        
                                    </td>
                                    <td class="td-days" >
                                        <label for="daysOfWeek">Segunda</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-monday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="tuesday" value="2" onclick="showInput('tuesday', 'td-tuesday')">
                                        
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Terça</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-tuesday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="wednesday" value="3" onclick="showInput('wednesday', 'td-wednesday')">
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Quarta</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-wednesday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="thusday" value="4" onclick="showInput('thusday', 'td-thusday')">
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Quinta</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-thusday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="friday" value="5" onclick="showInput('friday', 'td-friday')">
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Sexta</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-friday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                    
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="daysOfWeek" id="saturday" value="6" onclick="showInput('saturday', 'td-saturday')">
                                    </td>
                                    <td class="td-days">
                                        <label for="daysOfWeek">Sábado</label>
                                    </td>
                                    <td class="td-inputs-times" id="td-saturday">
                                        <input type="time" name="startTime" id="" class="input-time">
                                        <input type="time" name="endTime" id="" class="input-time">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <button type="submit" class="btn-default" id="btn-save">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
   
</body>
</html>