.section-agenda {
    margin: 60px auto;
}

.title-h1-agenda {
    font-size: 30px;
    text-align: center;
}
.section-calendar {
    margin: 30px auto 50px auto;
    width: 90%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.modal-content h2 {
    text-align: center;
    margin: 30px auto;
}
.modal-content h3 {
    margin: 10px auto;
}
.modal-content label {
    font-size: var(--font-size-label);
    padding-right: 10px;
    width: 100%;
    display: block;
    margin: 10px 0;
    font-weight: 400;
}
.modal-content input,
.modal-content textarea {
    padding: 5px 10px;
}
.inputModel {
    width: 100%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.alerts {
    display: none;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0;
    border: solid 1px red;
    color: red;
}
#submit:disabled {
    background-color: #d6d6d6;
    color: #3b424d;
}
.div-submit {
    text-align: center;
    margin: 20px auto;
}
#calendar-agendamento {
    margin: 50px auto;
}
#calendar-agendamento .fc-dayGridMonth-button {
    display: none;
}
#calendar-agendamento .fc-toolbar-title {
    font-size: 24px;
    font-weight: 400;
}

#calendar-agendamento .fc-button {
    line-height: 20px;
    background-color: var(--background-button);
    border-radius: 5px;
    color: var(--font-color-button);
    font-size: var(--font-size-btn);
    margin-bottom: 10px;
    border: none;
}

#calendar-agendamento .fc-button:hover {
    background-color: var(--background-button-hover);
}
#calendar-agendamento .fc-button:disabled {
    background-color: #d6d6d6;
    color: #3b424d;
}
#calendar-agendamento .fc-col-header-cell {
    background-color: var(--background-button);
    
}
#calendar-agendamento .fc-col-header-cell a {
    color: #FFF;
}
#calendar-agendamento .fc-scrollgrid-section-sticky {
    position: relative;
    z-index: 0;
}
.div-instruction {
    display: flex;
    justify-content: center;
}
.div-instruction p {
    text-align: center;
    font-size: 18px;
    background-color: var(--background-button);
    padding:  8px 0;
    width: 20%;
    border-radius: 8px;
    color: #FFF;
}
