

/* aplica as duas telas (minha conta e assinatura) */

/* CONTAINER LATERAL */
.container-nav {
    padding-top: 15px;
}
.container-nav li {
    display: flex;
}
.container-nav a {
    display: flex;
    align-items: center;   
    color: var(--font-color);
    cursor: pointer;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.inputs-menu:checked ~ label {
    background-color: var(--background-nav-active);
    border-right: 5px solid var(--background-button);
}
.inputs-menu {
    position: absolute;

}
.label-menu {
    display: flex;
    align-items: center; 
    width: 100%;
    cursor: pointer;
}
.nav-text-link {
    padding-left: 15px;
}

/* SEÇÃO DA MINHA CONTA */

.account-title {
    margin: 20px auto;
    font-size: 26px;
    font-weight: 400; 
   
}
.container-info, .container-signature {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    max-width: 40rem;
    background-color: var(--background-primary);
    border-radius: 10px;
}
.container-info h2, .container-signature h2 {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    margin: 0 20px;
    border-bottom: 1px solid #343a40;
}
/* Tela de informações pessoais */
#img-avatar {
    border-radius: 50%;
    margin: 20px auto;
}
.info-data {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    margin: 0 20px;
    border-bottom: 1px solid var(--border-color-light);
}

.container-btn {
    margin: 20px auto;
}
.container-del-text {
    text-align: left;
    margin: 15px 20px;
    font-size: 14px;
}

/* Tela de editar Minha conta*/
.info-edit {
    padding: 30px 20px 10px 20px;
    display: block;
    text-align: left;
}
.input-account {
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
}



/* Tabela de assinatura */
.container-table-signature, .container-new-plan {
    padding: 30px 20px;
    width: 100%;
    
}
.table-signature {
    text-align: center;
    width: 100%;
    
}
.table-signature th {
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
}
.table-signature td {
    border-bottom: 1px solid var(--border-color-light);
}
.table-signature th, .table-signature td {
    width: 33%;
    padding: 8px 0;
   
}

/* MEDIA SCREEN */
@media screen and (max-width: 480px) {
    .account-title {
        font-size: 25px;
    }
    .container-info, .container-signature {
        margin-left: 10px;
        margin-right: 10px;
    }
}
