.nav-users {
  background-color: #757574;
  
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
}

.a-user {
  padding: 5px 10px;
  margin: 5px;
  font-weight: 700;
}


