
 /*Background styles */
figure {
    margin: 5px auto;
    background-color: #ffff;
    border-radius: 50%;
    padding: 3px;
}



.lista-alunos{
    text-align: center;
    margin: 10px;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.aluno-list{
    width: 240px;
    height: 280px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    color:#fff ;
    background-color: #FF7A00;
}

.um-aluno{
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1025px) {

}