/*Background styles */


.lista-users {
  text-align: center;
  margin: 10px;
}
.td-avatar {
  width: 80px;
  text-align: center;

}
.td-email {
  width: 30%;
}


.um-aluno {
  text-align: center;
  cursor: pointer;
  margin: 5px auto;
  padding: 5px;
  background-color: #ff7a00;
  color: #fff;
  width: 50%;
  box-shadow: 1px 1px 2px 1px #fff;
  border-radius: 6px;
}
.um-aluno:hover {
  width: 51%;
}

@media screen and (min-width: 1025px) {
}
